<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SGK</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SGK.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo-img logo-img-bgc">
            <img src="image/SGK_logo.svg" class="logo" />
        </div>
        <div class="header__menu">
            <div class="menu__btn">
                <button class="btn__time">По минутам</button>
                <button class="btn__time">По часам</button>
                <button class="btn__time">По дням</button>
            </div>
        </div>
    </div>
    <hr class="header__line">
    <div id="graphic" class="graphic">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="left_menu">
        <div class="grap-btn grap-btn-bgc">
            <nav class="left_menu-nav menu_nav">
                <button class="graph_btn">Кемеровская ГРЭС</button>
                <button class="graph_btn">Беловская ГРЭС</button>
                <button class="graph_btn">Кузнецкая ТЭЦ</button>
                <button class="graph_btn">Ново-Кемеровская ТЭЦ</button>
                <button class="graph_btn">Кемеровская ТЭЦ</button>
                <button class="graph_btn">Томь-Усинская ГРЭС</button>
                <button class="graph_btn">ГТЭС Новокузнецкая</button>
            </nav>
        </div>
    </div>
    <hr class="left__line">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
